body{
    font-family: $font-default;
    background-color: $body-bg;
    color: $text-color;
    &.fixed{
        overflow: hidden;
    }
}
.page{
    padding-top: 75px;
    padding-bottom: 140px;
}
.blog__container{
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
}
.blog__row{
    display: flex;
    &.blog__row_align_start{
        align-items: flex-start;
    }
    &.blog__row_align_center{
        align-items: center;
    }
    &.blog__row_align_end{
        align-items: flex-end;
    }
    &.blog__row_justify_start{
        justify-content: flex-start;
    }
    &.blog__row_justify_center{
        justify-content: center;
    }
    &.blog__row_justify_end{
        justify-content: flex-end;
    }
    &.blog__row_justify_between{
        justify-content: space-between;
    }
    &.blog__row_justify_around{
        justify-content: space-around;
    }
}
.blog__content{
    width: 100%;
    max-width: 560px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    p{
        margin: 0 0 28px 0;
    }
}
.blog__sidebar{
    width: 100%;
    max-width: 270px;
}
.blog__header{
    font-size: 26px;
    line-height: 31px;
    font-weight: bold;
    position: relative;
    padding-bottom: 15px;
    margin: 0 0 28px 0;
    overflow: auto;
    text-overflow: ellipsis;
    &::after{
        content: '';
        display: inline-block;
        position: absolute;
        height: 1px;
        bottom: 0;
        left: 0;
        right: 0;
        background: $default-gradient;
    }

}
.blog__image{
    width: 100%;
    margin-bottom: 45px;
}
.blog_sub-header{
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 16px;
}
.blog__sidebar{
    background-color: $sidebar-bg;
    padding: 50px 25px;
    width: 100%;
    max-width: 270px;
    min-height: 640px;
    box-sizing: border-box;
    margin-top: 77px;
}
.subscribe__button{
    color: #fff;
    width: 100%;
    max-width: 440px;
    display: block;
    margin: 0 auto;
    border: none;
    outline: none;
    text-align: center;
    padding: 11px 0;
    font-size: 15px;
    line-height: 18px;
    background: $default-gradient;
    box-shadow: 0px 3px 10px rgba(104, 104, 104, 0.5);
    transition: all .3s ease;
    cursor: pointer;
    &:hover{
        background: $hover-gradient;
    }
    &.subscibe__submit{
        font-size: 18px;
        line-height: 22px;
        padding: 13px 0;
    }
}
.subscribe__overlay{
    position: fixed;
    background: rgba($color: #262626, $alpha: 0.8);
    mix-blend-mode: normal;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subscribe__popup{
    background: #FFFFFF;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 570px;
    padding: 18px 65px 38px;
    box-sizing: border-box;
    position: relative;
}
.subscribe__close{
    font-weight: bold;
    height: 46px;
    font-size: 38px;
    line-height: 46px;
    color: #464646;
    display: inline-block;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 11px;
    padding: 0;
}
.progress__labels{
    margin: 0 0 12px;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #848484;
}
.progress__track{
    width: 100%;
    height: 2px;
    background-color: #E5E5E5;
    position: relative;
    display: inline-block;
    .progress__bar{
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        background: $default-gradient;
    }
}
.form__header{
    font-weight: bold;
    font-size: 23px;
    line-height: 28px;
    color: #464646;
    margin: 22px 0 23px;
    text-align: center;
}
.form__header_highlight{
    color: #017B03;
}
.form__input-row{
    position: relative;
    margin-bottom: 21px;
    &.active{
        .form__label{
            font-size: 12px;
            line-height: 14px;
            top: calc(50% - 14px/2 - 12px);
        }
    }
    &.error{
        .form__input{
            border-color: $error-color;
            color: $error-color;
        }
        .form__label{
            color: $error-color;
        }
    }
}
.form__input{
    width: 100%;
    box-shadow: inset 0px 1px 5px rgba(142, 142, 142, 0.5);
    background: #fff;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    padding: 26px 39px 9px 11px;
    box-sizing: border-box;
    border: none;
    outline: none;
    transition: all .3s ease;
    border: 1px solid transparent;
    &:focus, &:active{
        border-color:#9E9E9E;
        box-shadow: inset 0px 1px 5px rgba(142, 142, 142, 0.5);
    }
}
.form__label{
    color: #828282;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    transition: all .3s ease;
    position: absolute;
    left: 0;
    top: calc(50% - 22px/2);
    display: block;
    padding-left: 9px;
}
.check{
    width: 100px;
    display: block;
    margin: 0 auto 20px;
    svg {
        width: 100px;
        display: block;
        margin: 40px auto 0;
      }
      
      .path {
        stroke-dasharray: 1000;
        stroke-dashoffset: 0;
        &.circle {
          -webkit-animation: dash .9s ease-in-out;
          animation: dash .9s ease-in-out;
        }
        &.line {
          stroke-dashoffset: 1000;
          -webkit-animation: dash .9s .35s ease-in-out forwards;
          animation: dash .9s .35s ease-in-out forwards;
        }
        &.check {
          stroke-dashoffset: -100;
          -webkit-animation: dash-check .9s .35s ease-in-out forwards;
          animation: dash-check .9s .35s ease-in-out forwards;
        }
      }
}
@keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
  .success__text{
      text-align: center;
      margin: 0;
      font-size: 18px;
  }

  // Media
  @media screen and (max-width: 968px){
    //Lets add small padding for iPad
    .blog__container{
        padding: 0 30px;
        box-sizing: border-box;
    }
  }
  // Landscape iPhone XR, XS Max, XS, X etc.
  @media screen and (max-width: 900px) and (orientation: landscape){
    .blog__row{
        flex-wrap: wrap;
    }
    .blog__content{
        max-width: 100%;
    }
    .blog__sidebar{
        max-width: 100%;
        min-height: 0;
    }
  }
  @media screen and (max-width: 568px){
    .page{
        padding-top: 25px;
        padding-bottom: 37px;
    }
    .blog__container{
        padding: 0;
    }
    .blog__row{
        flex-wrap: wrap;
    }
    .blog__header{
        font-size: 24px;
        line-height: 29px;
        display: block;
        margin: 0 auto 28px;
        max-width: 340px;
    }
    .blog__content{
        font-size: 16px;
        line-height: 24px;
        p{
            display: block;
            max-width: 340px;
            margin: 0 auto 28px;
        }
    }
    .blog_sub-header{
        display: block;
        max-width: 340px;
        margin: 0 auto 16px;
    }
    .blog__sidebar{
        max-width: 340px;
        min-height: 425px;
        margin: 0 auto;
    }
    .subscribe__button{
        font-size: 20px;
        line-height: 24px;
        padding: 13px 0;
    }
    .blog__sidebar{
        padding: 34px 29px 0;
    }
    .subscribe__popup{
        max-width: 355px;
        padding: 13px 17px 24px;
    }
    .subscribe__close{
        font-size: 29px;
    }
    .progress__labels{
        margin: 0;
    }
    .form__header{
        font-size: 20px;
        line-height: 26px;
    }
    .form__label{
        font-size: 17px;
        line-height: 20px;
    }
  }